# Android
.gradle
.idea
/local.properties
/build
**/build/

# APK
*.apk
*.aab

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules

# Environment
.env

# Kotlin
.kotlin

# Generated
captures/
.externalNativeBuild/
.cxx/

# VS Code
.vscode/